/*Color Variables*/
:root {
  --background: #212527;
  --backPop: #3d4549;
  --slightColor: #b1c6d1;
  --colorPop: #003C78;
  --textColor: #F0F0F0;
}

body{
  background: var(--background);
  font-family: sans-serif;
  color:var(--textColor);    
}

div {
  display: block;
}

/*This is for the audit page*/
/* Split the screen in half */
.split {
  display: block;
  height: 80%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/*left side */
.hangerDisplay {
  align-items: center;
  width: 30%;
  padding: 2vh;
  float: left;
  left: 50%;
  background-color: var(--backPop);
}

/*right side */
.menuDisplay {
  width: 60%;
  padding: 2vh;
  float: right;
  right: 0;
  background-color: var(--backPop);
}

.hangerDisplay #hangerSelect{
  text-align: center;
  width: 100%;
  padding: 2%;
  margin-bottom: 1%;
}


/*Audit Table*/
div.auditTable{
  padding:0;
}

div.auditTable ol{
  padding: 0;
}

div.auditTable ul{
  text-align: center;
  font-size: 2vh;
  border: 0.2vh solid var(--backPop);
  border-radius: 1vmin;
  background-color: var(--colorPop);
  padding: 2vh;
}

div.auditTable ul.green{
  background-color: green;
}

div.auditTable ul.yellow{
  background-color: green;
}

form{
  background-color: var(--colorPop);
  padding: 4%;
}


/*nav bar*/
ul.topnav {
  position: static;
  top: 0;
  width: 100%;
  font-size: 2vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--backPop);
}

ul.topnav li img{
  width: 7vh;
  margin-top: 1vh;
  margin-right: 2vh;
  float: right;
}

ul.topnav li a {
  float: left;
  color: white;
  text-align: center;
  padding: 2vh 3vh;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #000;
}

ul.topnav li a.active {
  background-color:var(--colorPop);
}

@media screen and (max-width: 300px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


/* (Flip) Tables*/
table{
  empty-cells: hide;
  width: 100%;
  padding: 8vh;
  border-collapse: collapse;
}
table td{
  font-size: 2vh;
  border: 0.2vh solid var(--background);
  border-radius: 1vmin;
  background-color: var(--colorPop);
  padding: 2vh;
}

table #empty{
  background-color: unset;
  border: none;
}
table th{ 
  font-size: 2vh;
  border: 0.2vh solid #ddd;
  padding: 8vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
table #ramp{
  background-color: var(--backPop);
}
