/*This is for the audit page*/
/* Split the screen in half */
.split {
  display: block;
  height: 84%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}



/*right side */
.menuDisplay {
  width: 50%;
  padding: 2%;
  float: right;
  right: 0;
  border: 0.2vh solid white;
}

.hangerDisplay #hangerSelect{
  text-align: center;
  width: 100%;
  padding: 2%;
  margin-bottom: 1%;
}

form{
  background-color: var(--colorPop);
  padding: 4%;
}

.button {
  background-color: #e7e7e7;
  border: 0.2vh solid black;
  color: black;
  padding: 1% 4%;
  text-align: center;
  margin: 1%;
  border-radius: 0.4vmin;
}

#addTail{
  height: 7%;
  width: 100%;
}

#menu{
  width: 30%;
  height: 7%;
}



/*left side */
.hangerDisplay {
  align-items: center;
  width: 40%;
  padding: 2%;
  float: left;
  left: 50%;
  border: 0.2vh solid white;
}


/*Audit Table*/
div.auditTable{
  padding:0;
}

div.auditTable ol{
  padding: 0;
}

div.auditTable ul{
  text-align: center;
  border: 0.2vh solid var(--background);
  border-radius: 1vmin;
  background-color: #c50000;
  padding: 2vh;
}

div.auditTable ul.green{
  background-color: #00a51e;
}

div.auditTable ul.yellow{
  background-color: #ff9900
}

div.auditTable ul.blue{
  background-color: var(--colorPop);
}
