/*why must life be this cruel*/

form{
    border: 0.2vh solid white;
    text-align: center;
    background-color: var(--colorPop);
    padding: 1%;
}

input{
    padding: 0.8%;
    border: none;
}

select{
    padding: 0.8%;
}

#resultTable{
    border: 0.2vh solid white; 
    padding: 1%; 
    height: 74%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 0.2vh solid white; 
    text-align: left;
    padding: 8px;
    font-weight: 100;
  }

  td{
    background-color: var(--colorPop);
    font-weight: bold;
  }
  
  tr:nth-child(odd) {
    background-color: var(--backPop);
  }
