/* (Flip) Tables*/
table{
    empty-cells: hide;
    width: 100%;
    padding: 8vh;
    border-collapse: collapse;
  }
  table td{
    border: 0.2vh solid var(--background);
    border-radius: 1vmin;
    background-color: var(--colorPop);
    padding: 2vh;
  }
  
  table #empty{
    background-color: unset;
    border: none;
  }
  table th{ 
    border: 0.2vh solid #ddd;
    padding: 8vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  table #ramp{
    background-color: var(--backPop);
  }

  @media print { 
    .topnav { display: none !important; } 
    table th{ padding: 0.5%; }
}

.searchBar {
  display: block;
  float: right;
  margin: 1%;
  font-size: large;
}

table .highlight{
  background-color: #ff9900
}

ul.topnav img{
  display:none;
}

@media screen and (max-width: 700px) {
  table th{
    padding: 3.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  table td{
    padding-top: 1.3vh;
    padding-bottom: 1.3vh;
  }

  .searchBar {
    display: none;
  }
}